.container {
  margin: 2rem auto;
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.users {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users select,
label {
  margin: 0 1rem;
  font-size: 25px;
  font-weight: 600;
}

.users button {
  font-size: 22px;
  font-weight: 600;
}

.autor {
  width: 70%;
  margin: 20rem auto;
}

.autor span {
  font-size: 25px;
  font-weight: 700;
}

.autor ul li {
  font-size: 20px;
  font-weight: 500;
}
